.panel {
    background-color: transparent !important;
}

.panel-heading, .panel-title {
    background-color: #00a0df !important;
    color: white;
}

.panel-body {
    background: white;
    border-bottom: solid 1px #ebebeb;
    border-width: 1px 1px 1px !important;
}

.panel-footer {
    text-align: right;
}

.panel-footer button, .ordercab button {
    background-color: #689F38;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
    border-color: #689F38;
}

.panel-body img {
    max-width: 100%;
}

.panel-footer .fa-star {color: #689F38; margin-right:2px;}
.panel-footer .fa-user {color: #689F36; margin-right:2px;}



.marathoner .panel-heading, .marathoner .panel-title {background-color: orange !important;}

.speach .panel-heading, .speach .panel-title {background-color: #42CAA9 !important;}

.uber .panel-heading, .uber .panel-title {background-color: #2F2A38 !important;}

.touch .panel-heading, .touch .panel-title {background-color: #F9177D !important;}

.facebook .panel-heading, .facebook .panel-title {background-color: #195297 !important;}

.buy .panel-heading, .buy .panel-title {background-color: #DA0B75 !important;}

.pfm1 .panel-heading, .pfm1 .panel-title {background-color: #EE3703 !important;}

.unicef_sponsor_me .panel-heading, .unicef_sponsor_me .panel-title {background-color: #04ADF0 !important;}




.lite {
    color: orange !important;
}

a.logo {color: #00a0df}

.breadcrumb {
    background-color: transparent;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
}

.info-box i {
    margin-right: 10px;
}

.info-box .count {
    font-size:24px;
}


.blue-bg {
    color: #fff;
    background: #00a0df;
    background-color: #00a0df;
}

.snd .col-lg-4:nth-child(2n) .blue-bg  {
    color: #fff;
    background: #FCA300;
    background-color: #FCA300;
}

.snd .col-lg-4:nth-child(3n) .blue-bg  {
    color: #fff;
    background: #DE2B96;
    background-color: #DE2B96;
}


#banking-apps-uber {
    font-family: 'Lato', sans-serif;
}

.btn-default:hover {
    background-color: #3C9841;
}

#banking-apps-uber .btn {
    padding-left:40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.ordercab {
    text-align:center;
}

.cabcalled {
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: orange;
    color: white;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
}


