<ng-include src="'/app/app/views/menu.html'"></ng-include>


<section id="main-content">
    <section class="wrapper">

        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-laptop"></i> Dashboard</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a ui-sref="dashboard">Home</a></li>
                    <!--<li><i class="fa fa-laptop"></i>Dashboard</li>-->
                </ol>
            </div>
        </div>

        <div class="row snd">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="info-box blue-bg">
                    <i class="fa fa-ambulance"></i>

                    <div class="count">EUR 3,023.50</div>
                    <div class="title">Main Account</div>
                </div>
                <!--/.info-box-->
            </div>
            <!--/.col-->

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" ng-repeat="account in accounts">
                <div class="info-box brown-bg">
                    <i class="fa fa-shopping-cart"></i>

                    <div class="count">{{account.currency.code}} {{account.availableBalance.value}}</div>
                    <div class="title">{{account.type.code}} {{account.type.label}}</div>
                </div>
                <!--/.info-box-->
            </div>
            <!--/.col-->


            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="info-box blue-bg">
                    <i class="fa fa-ambulance"></i>

                    <div class="count">EUR 12,040.32</div>
                    <div class="title">Savings Account</div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="info-box blue-bg">
                    <i class="fa fa-ambulance"></i>

                    <div class="count">EUR 12,040.32</div>
                    <div class="title">Current Account</div>
                </div>
            </div>


        </div>


    </section>
</section>

