<div class="container">
    <header class="header dark-bg">

        <div class="toggle-nav">
        </div>

        <!--logo start-->
        <a ui-sref="dashboard" class="logo">Your<span class="lite">BankingApp</span></a>

    </header>
        <!--logo end-->
        <div class="login-wrap" style="height: 100%; text-align: center">


            <section id="main-content">
                <section class="wrapper">
                </section>
                <h3>Login with your CommonAPI account</h3> <br/>
                <button class="btn btn-primary btn-lg btn-block" ng-click="login()">Login</button>
            </section>
        </div>


</div>