<ng-include src="'/app/app/views/menu.html'"></ng-include>

<section id="main-content">
<section class="wrapper">
<!--overview start-->
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-laptop"></i>My Applications</h3>
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a ui-sref="dashboard">Home</a></li>
            <li><i class="fa fa-laptop"></i>My Applications</li>
        </ol>
    </div>
</div>

<div class="row">
  <div ng-show="!allPlugins" class="well text-center">
    <p>You don't have any Applications installed.</p>
    <p><a ui-sref="store">Access the Store</a></p>
  </div>
<div ng-repeat="plugin in allPlugins" class="col-sm-6">


	<div class="panel panel-default {{plugin.path}}">
      <div class="panel-heading">
        <h3 class="panel-title">{{plugin.name}}</h3>
      </div>
      <div class="panel-body">
          <div class="col-xs-4"><img src="/all-plugins/{{plugin.path}}/hell.jpg"></div>
          <div class="col-xs-8" style="padding-top:12px;">{{plugin.longDesc}}</div>
      </div>

       <div class="panel-footer">
<span style="float:left; line-height:32px;">Developed by {{plugin.developer}}</span>
           <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star" style="margin-right: 6px"></i>
<span>{{plugin.users}}</span> <i class="fa fa-user" style="margin-right: 6px"></i>
         <button type="button" class="btn btn-default" ng-click="launchPlugin(plugin)">Launch</button>
      </div>


    </div>

</div>
</div>



</section>
</section>
