<ng-include src="'/app/app/views/menu.html'"></ng-include>

<section id="main-content">
<section class="wrapper">
<!--overview start-->
<div class="row">
    <div class="col-lg-12">
      <h3 class="page-header">


        <i class="fa fa-laptop"></i>

          <!--<div class="col-xs-4"><img ng-src="/all-plugins/{{plugin.slug}}/hell.jpg"></div>-->

        {{ plugin.name }}</h3>

        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a ui-sref="dashboard">Home</a></li>
            <li><i class="fa fa-laptop"></i>{{ plugin.name }}</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
    <iframe ng-src="{{plugin.path}}"
      scrolling="0" style="border: 0"
      height="300" width="100%" id="appIframe"></iframe>
    </div>
</div>

</section>
</section>
