<ng-include src="'/app/app/views/menu.html'"></ng-include>

<section id="main-content">
<section class="wrapper">
<!--overview start-->
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-laptop"></i> Application Store</h3>
    </div>
</div>

    <div class="row">
        <div class="col-sm-6">
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a ui-sref="dashboard">Home</a></li>
            <li><i class="fa fa-laptop"></i>Application Store</li>
        </ol>
        </div>

        <form role="search" class="col-sm-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">
                                <span class="fa fa-search"></span>
                            </button>
                        </span>
            </div>
        </form>

    </div>

<div class="row" ng-show="installedAlert">
  <div class="col-xs-12 well .text-center" style="background-color: khaki">
    Plugin Installed, check <a ui-sref="myapps">your apps</a>
  </div>
</div>

<div class="row">
<div ng-repeat="plugin in allPlugins" class="col-sm-6">
	<div class="panel panel-default {{plugin.path}}">
      <div class="panel-heading">
        <h3 class="panel-title">{{plugin.name}}</h3>
      </div>
      <div class="panel-body">
          <div class="col-xs-4"><img src="/all-plugins/{{plugin.path}}/hell.jpg"></div>
          <div class="col-xs-8" style="padding-top:12px;">{{plugin.longDesc}}</div>
      </div>

       <div class="panel-footer">
<span style="float:left; line-height:32px;">Developed by {{plugin.developer}}</span>
           <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star" style="margin-right: 6px"></i>
<span>{{plugin.users}}</span> <i class="fa fa-user" style="margin-right: 6px"></i>
         <button type="button" class="btn btn-default" ng-click="installPlugin(plugin)">Install</button>
      </div>


    </div>
</div>
</div>



</section>
</section>
