<div ng-app="banking.apps.uber" id="banking-apps-uber">
    <div ui-view>
        <order-cab></order-cab>
    </div>
</div>

    <link href="/app/app/css/bootstrap.min.css" rel="stylesheet" />
    <!-- bootstrap theme -->
    <link href="/app/app/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="/app/app/styles/main.css" rel="stylesheet" />
<link href="/app/app/bower_components/leaflet/dist/leaflet.css" rel="stylesheet" type="text/css" />
<script src="/app/app/bower_components/leaflet/dist/leaflet.js"></script>
<script src="/app/app/bower_components/jquery/jquery.min.js"></script>
<script src="/app/app/bower_components/angular/angular.min.js"></script>
<script src="/app/app/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/app/app/bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>
<script src="js/app.js"></script>
