<div class="ordercab">
    <leaflet center="map.center"
	     id='leafletMap'
        markers="map.markers"
        defaults="map.mapDefaults"
        height="200px" width="100%"></leaflet>


        <button ng-show="!called" name="ordercab" class="btn btn-default" ng-click="callCab();">Order Cab</button>

        <div ng-show="called" class="cabcalled">
	    <big>
	    <big>
		B-188-MHN is on the way!
		<span class="counter">
		    It'll get to you in {{ timer.minutes }}:{{ timer.seconds }}
		</span>
	    </big>
	    </big>
        </div>


</div>
